@use 'styles/mixins' as mx;
@use 'styles/functions' as fn;
@use 'styles/config' as cfg;

.button {
  all: unset;
  @include mx.themify('background-color', 'primary');
  @include mx.themify('color', 'main-bg');
  @include mx.set-font(1.4rem, '500');

  display: inline-block;
  padding: fn.offset(0.7225)  fn.offset(1.2);
  border-radius: cfg.$radius;
  white-space: nowrap;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  text-align: center;
  cursor: pointer;

  &:active {
    transform: scale(0.99);
  }

  &[disabled] {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed;
  }
}
