@use 'styles/functions' as fn;
@use 'styles/config' as cfg;
@use 'styles/mixins' as mx;
@use 'styles/colors' as clr;

$icon-server-size: 130px;
$icon-server-color: clr.$primary;

.empty {
  @include mx.set-font(1.4rem, '600');

  align-items: center;
}

.text {
  margin: fn.offset(0.5) 0 fn.offset(1.4);
}

:export {
  iconServerSize: $icon-server-size;
  iconServerColor: $icon-server-color;
}

