@use 'styles/functions' as fn;
@use 'styles/config' as cfg;
@use 'styles/mixins' as mx;
@use 'styles/colors' as clr;

$button-size: 100px;
$icon-login-size: 50px;
$icon-login-color: clr.$black-100;

.auth-buttons {
  flex-flow: row wrap;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $button-size;
  height: $button-size;

  &:not(:last-child) {
    margin-right: fn.offset(0.5);
  }
}

.button-inner {
  @include mx.set-font(1.5rem, '600');

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    margin-bottom: fn.offset(0.4);
  }
}

:export {
  iconLoginSize: $icon-login-size;
  iconLoginColor: $icon-login-color;
}
