$primary: #b6ade7;
$background: #282a36;
$current-line: #44475a;
$selection: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;

$cyan-100: #8be9fd;
$green-100: #50fa7b;
$orange-100: #ffb86c;
$pink-100: #ff79c6;
$purple-100: #bd93f9;
$red-100: #ff5555;
$yellow-100: #c0d100;
$black-90: #2d2d4a;
$black-100: #000000;
$white-100: #ffffff;
