$offset: 1.8rem;
$radius: 1rem;

$tablet: 800;
$desktop: 1200;
$wide-screen: 1440;

$font-family-default: 'Roboto Mono';

$theme-names: light, dark;

$font-weights: (
  '100': 100,
  '200': 200,
  '300': 300,
  '400': 400,
  '500': 500,
  '600': 600,
  '700': 700,
  '800': 800,
  '900': 900,
);

$base-z-index: 1;
